<html>
<body>
    <h3>CNR : Sistema Missioni</h3>
    <div>
        <p>L'utente ${userName} ${userSurname} ha inserito una nuova missione, nella quale lei
        risulta essere responsabile gruppo.
         In allegato
           il pdf che riepiloga i dati inseriti.
        </p>
    </div>
</body>
</html>