<html>
<body>
    <h3>CNR : Sistema Missioni</h3>
    <div>
        <p>Gentile ${userName} ${userSurname}, le confermiamo che la
           missione &egrave; stata inserita correttamente. In allegato
           il pdf che riepiloga i dati inseriti.
        </p>
    </div>
</body>
</html>