<html>
<body>
    <h3>CNR : Sistema Missioni</h3>
    <div>
        <p>Gentile ${userName} ${userSurname}, le forniamo la sua password per accedere al sistema.
        Può essere modificata dopo il login.
        </p>
         <p>
           Password : ${password}
         </p>
    </div>
</body>
</html>