<html>
<body>
    <h3>CNR : Sistema Missioni</h3>
    <div>
        <p>Gentile ${userName} ${userSurname}, il suo rimborso con numero ordine : ${rimborsoID}
           &egrave; stato modificato.
        </p>
         <p>
           Stato missione : ${stato}.
         </p>
         <p>
           In allegato il pdf che riepiloga i dati inseriti.
         </p>
    </div>
</body>
</html>